In [2]:
pip install aspose-words

Collecting aspose-words
  Downloading aspose_words-22.12.0-py3-none-win_amd64.whl (56.3 MB)
Installing collected packages: aspose-words
Successfully installed aspose-words-22.12.0
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as st
import matplotlib.pyplot as plt
import statistics

In [6]:
pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.2.0-cp38-cp38-win_amd64.whl (2.4 MB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\taner\anaconda3\lib\site-packages (from pyreadstat) (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\taner\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\taner\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\taner\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\taner\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.15.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_spss("Birthweight_reduced_kg_SPSS.sav")

In [13]:
df.head()

,ID,Headcirc,Length,Birthweight,Gestation,mage,smoker,mheight,mppwt,fage,fedyrs,fnocig,fheight,lowbwt,mage35,mnocig
0,1360.0,34.0,56.0,4.55,44.0,20.0,Non-smoker,162.0,57.0,23.0,10.0,35.0,179.0,Not low birthweight,Aged < 35,0.0
1,1016.0,36.0,53.0,4.32,40.0,19.0,Non-smoker,171.0,62.0,19.0,12.0,0.0,183.0,Not low birthweight,Aged < 35,0.0
2,462.0,39.0,58.0,4.10,41.0,35.0,Non-smoker,172.0,58.0,31.0,16.0,25.0,185.0,Not low birthweight,Aged 35+,0.0
3,1187.0,38.0,53.0,4.07,44.0,20.0,Non-smoker,174.0,68.0,26.0,14.0,25.0,189.0,Not low birthweight,Aged < 35,0.0
4,553.0,37.0,54.0,3.94,42.0,24.0,Non-smoker,175.0,66.0,30.0,12.0,0.0,184.0,Not low birthweight,Aged < 35,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           42 non-null     float64
 1   Headcirc     42 non-null     float64
 2   Length       42 non-null     float64
 3   Birthweight  42 non-null     float64
 4   Gestation    42 non-null     float64
 5   mage         42 non-null     float64
 6   smoker       42 non-null     category
 7   mheight      42 non-null     float64
 8   mppwt        42 non-null     float64
 9   fage         42 non-null     float64
 10  fedyrs       42 non-null     float64
 11  fnocig       42 non-null     float64
 12  fheight      42 non-null     float64
 13  lowbwt       42 non-null     category
 14  mage35       42 non-null     category
 15  mnocig       42 non-null     float64
dtypes: category(3), float64(13)
memory usage: 4.9 KB

In [10]:
df.duplicated().value_counts()

False    42
dtype: int64

In [11]:
df.isnull().sum()

ID             0
Headcirc       0
Length         0
Birthweight    0
Gestation      0
mage           0
smoker         0
mheight        0
mppwt          0
fage           0
fedyrs         0
fnocig         0
fheight        0
lowbwt         0
mage35         0
mnocig         0
dtype: int64

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,42.0,894.071429,467.616186,27.00,537.25,821.000,1269.5000,1764.00
Headcirc,42.0,34.595238,2.399792,30.00,33.00,34.000,36.0000,39.00
Length,42.0,51.333333,2.935624,43.00,50.00,52.000,53.0000,58.00
Birthweight,42.0,3.312857,0.603895,1.92,2.94,3.295,3.6475,4.57
Gestation,42.0,39.190476,2.643336,33.00,38.00,39.500,41.0000,45.00
mage,42.0,25.547619,5.666342,18.00,20.25,24.000,29.0000,41.00
mheight,42.0,164.452381,6.504041,149.00,161.00,164.500,169.5000,181.00
mppwt,42.0,57.500000,7.198408,45.00,52.25,57.000,62.0000,78.00
fage,42.0,28.904762,6.863866,19.00,23.00,29.500,32.0000,46.00
fedyrs,42.0,13.666667,2.160247,10.00,12.00,14.000,16.0000,16.00
fnocig,42.0,17.190476,17.308165,0.00,0.00,18.500,25.0000,50.00
fheight,42.0,180.500000,6.978189,169.00,175.25,180.500,184.7500,200.00
mnocig,42.0,9.428571,12.511737,0.00,0.00,4.500,15.7500,50.00


### Data Insights

In the given dataset, we have two types of mothers one who Non-smoker and another who are Smoker. So, we can divide data into two groups and compare their characteristics. Here, you can find the average of both the groups using groupby() and mean() function.

In [15]:
df[df['smoker'] == 'Non-smoker'].shape[0]

20

In [16]:
df[df['smoker'] == 'Smoker'].shape[0]

22

In [19]:
df_non_smoker = df[(df.smoker == 'Non-smoker')]

In [20]:
df_smoker = df[(df.smoker == 'Smoker')]

In [24]:
df_smoker.head()

,ID,Headcirc,Length,Birthweight,Gestation,mage,smoker,mheight,mppwt,fage,fedyrs,fnocig,fheight,lowbwt,mage35,mnocig
20,792.0,38.0,53.0,3.64,40.0,20.0,Smoker,170.0,59.0,24.0,12.0,12.0,185.0,Not low birthweight,Aged < 35,2.0
21,1388.0,33.0,51.0,3.14,41.0,22.0,Smoker,160.0,53.0,24.0,16.0,12.0,176.0,Not low birthweight,Aged < 35,7.0
22,575.0,30.0,50.0,2.78,37.0,19.0,Smoker,165.0,60.0,20.0,14.0,0.0,183.0,Not low birthweight,Aged < 35,7.0
23,569.0,35.0,50.0,2.51,39.0,22.0,Smoker,159.0,52.0,23.0,14.0,25.0,200.0,Low birthweight,Aged < 35,7.0
24,1363.0,30.0,48.0,2.37,37.0,20.0,Smoker,163.0,47.0,20.0,10.0,35.0,185.0,Low birthweight,Aged < 35,7.0

### Q1. What is the mean birth weight for babies of non-smoking mothers?

In [38]:
Baby_Weight_Non_Smoker = list(df_non_smoker["Birthweight"])

In [39]:
x = statistics.mean(Baby_Weight_Non_Smoker)

In [40]:
x

3.5095

### Q2. What is the mean birth weight for babies of smoking mothers?

In [34]:
Baby_Weight_Smoker = list(df_smoker["Birthweight"])

In [36]:
y = statistics.mean(Baby_Weight_Smoker)

In [37]:
y

3.1340909090909093

### Q3. What is the mean head circumference for babies of non-smoking mothers?

In [41]:
Baby_Head_Circumference = list(df_non_smoker["Headcirc"])

In [42]:
z = statistics.mean(Baby_Head_Circumference)

In [43]:
z

35.05